build/
.cache/
.vscode/

.idea/
cmake-build-debug-system/
cmake-build-release-system/

.claude/

*.id0
*.id1
*.id2
*.nam
*.til
*.pyc

external/AndUEProber

.ida-mcp/

misc/mrpcs/**/output/

.private/
